name: 'Lint'
on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: yarn install

      - uses: Maggi64/eslint-plus-action@master
        with:
          npmInstall: false
